streamlit==1.39.0
yfinance
plotly
yahooquery
pdfplumber==0.11.0
pandas==2.2.2
numpy==1.26.4
langchain==0.3.7
langchain-openai==0.2.6
langchain-community==0.3.5
openai>=1.107.2
tiktoken==0.7.0
faiss-cpu==1.8.0.post1
tabulate==0.9.0
duckdb
nest-asyncio
pydantic-ai 
pip>=23.2
setuptools>=68.0.0
wheel
pydantic>=2.8.2
dailytreasuryrates
pydantic-ai==1.0.18
torch
numpy
pandas
plotly
bs4 
fake-useragent
reportlab
fpdf
pypdf
sentence-transformers
torch
openpyxl
lxml
